In [16]:

from pandas import  *
from numpy import *
from seaborn import *
from matplotlib.pyplot import *
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder

In [17]:
df=read_csv('bmi.csv')
df

     Gender  Height  Weight  BMI
0      Male     174      96    4
1      Male     189      87    2
2    Female     185     110    4
3    Female     195     104    3
4      Male     149      61    3
..      ...     ...     ...  ...
495  Female     150     153    5
496  Female     184     121    4
497  Female     141     136    5
498    Male     150      95    5
499    Male     173     131    5

[500 rows x 4 columns]

In [18]:
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])

In [19]:
df

     Gender  Height  Weight  BMI
0         1     174      96    4
1         1     189      87    2
2         0     185     110    4
3         0     195     104    3
4         1     149      61    3
..      ...     ...     ...  ...
495       0     150     153    5
496       0     184     121    4
497       0     141     136    5
498       1     150      95    5
499       1     173     131    5

[500 rows x 4 columns]

In [20]:
x=df.iloc[: , :-1]
y=df.iloc[: , -1]

In [21]:
x

     Gender  Height  Weight
0         1     174      96
1         1     189      87
2         0     185     110
3         0     195     104
4         1     149      61
..      ...     ...     ...
495       0     150     153
496       0     184     121
497       0     141     136
498       1     150      95
499       1     173     131

[500 rows x 3 columns]

In [28]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=922)

In [29]:
from sklearn.svm import SVR
r=SVR()
r.fit(x_train,y_train)

SVR()

In [32]:
r.score(x_train,y_train) #A perfect model woww!

0.9261280861499372

In [33]:
r.score(x_test,y_test)

0.9557265740824796

In [34]:
r.predict([[1,172,90]])

c:\Users\debna\Downloads\Anaconda33\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([3.39991168])

In [27]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

# Assuming 'x' and 'y' are defined with your dataset

max_train_accuracy = 0.0  # Initialize maximum training accuracy
best_train_random_state = 0  # Initialize variable to store the random state of the best training accuracy
max_test_accuracy = 0.0  # Initialize maximum testing accuracy
best_test_random_state = 0  # Initialize variable to store the random state of the best testing accuracy

for i in range(1, 1000):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=i)
    r=SVR()
    r.fit(x_train,y_train)  # Train the model
    train_score = r.score(x_train, y_train)  # Calculate accuracy on the training set
    test_score = r.score(x_test, y_test)  # Calculate accuracy on the test set
    
    # Check for the maximum training accuracy
    if train_score > max_train_accuracy:
        max_train_accuracy = train_score
        best_train_random_state = i

    # Check for the maximum testing accuracy
    if test_score > max_test_accuracy:
        max_test_accuracy = test_score
        best_test_random_state = i

print(f"The maximum training accuracy within the range of random states is: {max_train_accuracy} achieved with random state: {best_train_random_state}")
print(f"The maximum testing accuracy within the range of random states is: {max_test_accuracy} achieved with random state: {best_test_random_state}")

The maximum training accuracy within the range of random states is: 0.9491257886026245 achieved with random state: 903
The maximum testing accuracy within the range of random states is: 0.957212695434319 achieved with random state: 922